.Container{
  width: 90%;
}

.addItems{
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
.orderDetails{
  display: inline-block;
  border: 1px solid #ccc;
  width: 49%;
}